
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* 
*
* PÁGINA COMIDAS
*
*/

#layout-fundo-comidas {
    background-image: url('img/fundo-cardapio.jpg');
    text-align: center;
}

#titulo-principal-comidas {
    text-align: center;
    font-size: 4rem;
    font-style: italic;
    font-weight: bold;
}

.secoes-casa {
    display: grid;
    grid-template-rows: 20vh 1fr;
    justify-content: center;
    align-items: center;
}

.titulo-comidas {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    background-color: goldenrod;
    border-radius: 3vh;
    justify-self: stretch;
    align-self: center;
    display: grid;
    justify-content: center;
}

.arranjo-cards {
    display: flex;
    flex-wrap: wrap;
}

.card-comidas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width:30vh;
    margin-left: 10vw;
    margin-bottom: 2vh;
    box-shadow: 4px 4px 8px darkgrey;
    background-color: #F2F2F2;
}

.imagens-comidas {
    border-radius: 50%;
    height: 20vh;
    width: 30vh;
}

div div div div {
    align-self: stretch;
    text-align: center;
    padding-top: 2vh;
    border-top: 2px outset rgba(163, 94, 54, 0.507);
}
.botao-pedir {
    margin: 2vh 0;
    height: 3vh;
    width: 6vh;
    border-radius: 2vh;
    background-color: #c26d4e8f;
}

.botao-pedir:hover {
    cursor: pointer;
    color: white;
    background-color:#b3502ddc;
}

.botao-subir-comida {
    height: 5vh;
    width: 10vh;
    border-radius: 32px;
    background-color:rgb(119, 160, 48);
}

.botao-subir-comida:hover {
    cursor: pointer;
    color: goldenrod;
    background-color: darkolivegreen;
}